[Desktop Entry]
Name=Liri Text
GenericName=Text Editor
Comment=Edit text files
#TRANSLATIONS
Exec=liri-text %f
Terminal=false
Type=Application
StartupWMClass=liri-text
MimeType=text/plain;
Categories=Qt;Utility;TextEditor;
Keywords=Text;Editor;
Icon=io.liri.Text


# Translations
Icon[fr]=io.liri.Texte
Name[fr]=Liri Texte
Comment[fr]=Editer des fichiers texte
GenericName[fr]=Éditeur de texte
