[Desktop Entry]
Name=Liri Text
GenericName=Text Editor
Comment=Edit text files
#TRANSLATIONS
Exec=liri-text %f
Terminal=false
Type=Application
StartupWMClass=liri-text
MimeType=text/plain;
Categories=Qt;Utility;TextEditor;
Keywords=Text;Editor;
Icon=io.liri.Text


# Translations
Name[de]=Liri Text
Comment[de]=Textdateien bearbeiten
GenericName[de]=Textbearbeitungsprogramm
