[Desktop Entry]
Name=Liri Text
GenericName=Text Editor
Comment=Edit text files
#TRANSLATIONS
Exec=liri-text %f
Terminal=false
Type=Application
StartupWMClass=liri-text
MimeType=text/plain;
Categories=Qt;Utility;TextEditor;
Keywords=Text;Editor;
Icon=io.liri.Text


# Translations
Icon[pt_BR]=io.liri.Text
Name[pt_BR]=Liri Text
Comment[pt_BR]=Edite arquivos de texto
GenericName[pt_BR]=Editor de texto
