[Desktop Entry]
Name=Liri Text
Comment=Material Design text editor
Exec=/home/andrew/liri-text
Terminal=false
Type=Application
Categories=Qt;Utility;TextEditor;
Keywords=Text;Editor;
Icon=accessories-text-editor
#OnlyShowIn=Papyros
