[Desktop Entry]
Categories=Qt;Utility;TextEditor;
Comment=Edit text files
Comment[ca]=Editar arxius de text
Comment[da]=Rediger tekstfiler
Comment[fr]=Editer des fichiers texte
Comment[id]=Sunting berkas teks
Comment[it]=Modifica file di testo
Comment[lt]=Redaguoti tekstinius failus
Comment[pl]=Edytuj pliki tekstowe
Comment[pt_BR]=Edite arquivos de texto
Comment[ru]=Редактируйте текстовые файлы
Comment[tr]=Metin dosyalarını düzenle
Comment[zh_CN]=编辑文本文件
Comment[zh_TW]=編輯文字檔案
Exec=liri-text %f
GenericName=Text Editor
GenericName[ca]=Editor de text
GenericName[da]=Tekstredigering
GenericName[fr]=Éditeur de texte
GenericName[id]=Penyunting teks
GenericName[it]=Editor di testo
GenericName[lt]=Tekstų redaktorius
GenericName[pl]=Edytor Tekstu
GenericName[pt_BR]=Editor de texto
GenericName[ru]=Текстовый редактор
GenericName[tr]=Metin Düzenleyici
GenericName[zh_CN]=文本编辑器
GenericName[zh_TW]=文字編輯器
Icon=io.liri.Text
Keywords=Text;Editor;
MimeType=text/plain;
Name=Liri Text
Name[ca]=Text de Liri
Name[da]=Liri Tekst
Name[fr]=Liri Texte
Name[id]=Liri Text
Name[it]=Liri Text
Name[lt]=Liri tekstas
Name[pl]=Liri Text
Name[pt_BR]=Liri Text
Name[ru]=Liri Текст
Name[tr]=Liri Metin
Name[zh_CN]=Liri文本编辑器
Name[zh_TW]=Liri 文字編輯器
StartupWMClass=liri-text
Terminal=false
Type=Application
