[Desktop Entry]
Categories=Qt;Utility;TextEditor;
Comment=Edit text files
Comment[da]=Rediger tekstfiler
Comment[fr]=Editer des fichiers texte
Comment[it]=Modifica file di testo
Comment[lt]=Redaguoti tekstinius failus
Comment[pl]=Edytuj pliki tekstowe
Comment[ru]=Редактировать текстовые файлы
Comment[tr]=Metin dosyalarını düzenle
Comment[zh_TW]=編輯文字檔案
Exec=liri-text %f
GenericName=Text Editor
GenericName[da]=Tekstredigering
GenericName[fr]=Éditeur de texte
GenericName[it]=Editor di testo
GenericName[lt]=Tekstų redaktorius
GenericName[pl]=Edytor Tekstu
GenericName[ru]=Текстовый редактор
GenericName[tr]=Metin Düzenleyici
GenericName[zh_TW]=文字編輯器
Icon=io.liri.Text
Keywords=Text;Editor;
MimeType=text/plain;
Name=Liri Text
Name[da]=Liri Tekst
Name[fr]=Liri Texte
Name[it]=Liri Text
Name[lt]=Liri tekstas
Name[pl]=Liri Text
Name[ru]=Текст liri
Name[tr]=Liri Metin
Name[zh_TW]=Liri 文字編輯器
StartupWMClass=liri-text
Terminal=false
Type=Application
