[Desktop Entry]
Name=Liri Text
Comment=Edit text files
Exec=liri-text %U
Terminal=false
Type=Application
Categories=Qt;Utility;TextEditor;
Keywords=Text;Editor;
Icon=io.liri.Text
